/*****holly*****/
/* #holly(headerhdmiuz6700z) #css starts  */
.headerhdmiuz6700z .navbar-light .navbar-nav .active>.nav-link{
    color: #232124
}
.headerhdmiuz6700z .navbar-light .navbar-nav .nav-link {
    color: #232124
}
.headerhdmiuz6700z .navbar-light .navbar-nav .active>.nav-link:hover{
    color: #7AC040
}
.headerhdmiuz6700z .navbar-light .navbar-nav .nav-link:hover {
    color: #7AC040
}
/* #holly(headerhdmiuz6700z) #css ends  */
/*****holly*****/

/*****francis*****/
/* #francis(francisfttjo4jk0an) #css starts  */
.francisfttjo4jk0an{
    padding: 2.5rem 0
}
.francisfttjo4jk0an.lead {
    font-size: 20px
}
/* #francis(francisfttjo4jk0an) #css ends  */
/*****francis*****/

/*****tioni*****/
    /* #tioni(testimonialtmrwms6esfu) #css starts  */
    .testimonialtmrwms6esfu .fdb-block {
        padding: 4.5rem 0
       }
      
       .testimonialtmrwms6esfu .fdb-block .fdb-box:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px
         }

          .testimonialtmrwms6esfu  .fdb-block .fdb-touch {
          border-top: solid 0.3125rem #fff
          }
    /* #tioni(testimonialtmrwms6esfu) #css ends  */
/*****tioni*****/

/*****wow*****/
    /* #wow(w8b69b68110aa8e40) #css starts  */
    .workw8b69b68110aa8e40 {
        padding: 4.5rem 0
    }
    .workw8b69b68110aa8e40 .badge {
        background-color: #F6FFF2;
        color: #7AC040;
        font-size: 16px
    }
    .workw8b69b68110aa8e40 .btn-outline-success {
        color: #232124;
        border-color: #232124;
        font-weight: 600;
    }
        /* #wow(w8b69b68110aa8e40) #css ends  */
/*****wow*****/

/*****cawn*****/
    /* #cawn(calltoactioncalnt4q93pe) #css starts  */
    .calltoactioncalnt4q93pe .btn-primary {
    color: #fff;
    background-color: #7AC040;
    border-color: #7AC040;
    box-shadow: none;
    font-weight: 600
    }
    .calltoactioncalnt4q93pe .btn-primary:hover,
    .calltoactioncalnt4q93pe .btn-primary:not(:disabled):not(.disabled):active{
        background-color: #7AC040;
        border-color: #7AC040
    }
    /* #cawn(calltoactioncalnt4q93pe) #css ends  */
/*****cawn*****/

/*****finance*****/
    /* #finance(financfteh960gee5) #css starts  */
    .financfteh960gee5 p {
        font-weight: 600
    }
    /* #finance(financfteh960gee5) #css ends  */
/*****finance*****/